## 2014-2020 Kansas City Crime vs. Zip Code Population Density

In [1]:
import pandas as pd
from sqlalchemy import create_engine

### Data Cleanup

In [2]:
# Import and read crime CSV files from data.kcmo.org
crime_2015="data/original_Crime/KCPD_Crime_Data_2015.csv"
crime_2016="data/original_Crime/KCPD_Crime_Data_2016.csv"
crime_2017="data/original_Crime/KCPD_Crime_Data_2017.csv"
crime_2018="data/original_Crime/KCPD_Crime_Data_2018.csv"
crime_2019="data/original_Crime/KCPD_Crime_Data_2019.csv"
crime_2020="data/original_Crime/KCPD_Crime_Data_2020.csv"

crime_2015_df=pd.read_csv(crime_2015)
crime_2016_df=pd.read_csv(crime_2016)
crime_2017_df=pd.read_csv(crime_2017)
crime_2018_df=pd.read_csv(crime_2018)
crime_2019_df=pd.read_csv(crime_2019)
crime_2020_df=pd.read_csv(crime_2020)

# Clean crime dataframes by specifying columns
cleaned_2015_df=crime_2015_df[['Report_No','Reported_Date','Zip Code','Offense','Description','IBRS','Race','Sex','Age']]
renamed_2015_df=cleaned_2015_df.rename(columns={"Zip Code":"zip"})
final_2015_df=renamed_2015_df.dropna(subset=["zip"])
final_2015_df.set_index("Report_No",inplace=True)

cleaned_2016_df=crime_2016_df[['Report_No','Reported_Date','Zip Code','Offense','Description','IBRS','Race','Sex','Age']]
renamed_2016_df=cleaned_2016_df.rename(columns={"Zip Code":"zip"})
final_2016_df=renamed_2016_df.dropna(subset=["zip"])
final_2016_df.set_index("Report_No",inplace=True)

cleaned_2017_df=crime_2017_df[['Report_No','Reported_Date','Zip Code','Offense','Description','IBRS','Race','Sex','Age']]
renamed_2017_df=cleaned_2017_df.rename(columns={"Zip Code":"zip"})
final_2017_df=renamed_2017_df.dropna(subset=["zip"])
final_2017_df.set_index("Report_No",inplace=True)

cleaned_2018_df=crime_2018_df[['Report_No','Reported_Date','Zip Code','Offense','Description','IBRS','Race','Sex','Age']]
renamed_2018_df=cleaned_2018_df.rename(columns={"Zip Code":"zip"})
final_2018_df=renamed_2018_df.dropna(subset=["zip"])
final_2018_df.set_index("Report_No",inplace=True)

cleaned_2019_df=crime_2019_df[['Report_No','Reported_Date','Zip Code','Offense','Description','IBRS','Race','Sex','Age']]
renamed_2019_df=cleaned_2019_df.rename(columns={"Zip Code":"zip"})
final_2019_df=renamed_2019_df.dropna(subset=["zip"])
final_2019_df.set_index("Report_No",inplace=True)

cleaned_2020_df=crime_2020_df[['Report_No','Reported_Date','Zip Code','Offense','Description','IBRS','Race','Sex','Age']]
renamed_2020_df=cleaned_2020_df.rename(columns={"Zip Code":"zip"})
final_2020_df=renamed_2020_df.dropna(subset=["zip"])
final_2020_df.set_index("Report_No",inplace=True)

final_2020_df.head()

,Reported_Date,zip,Offense,Description,IBRS,Race,Sex,Age
Report_No,,,,,,,,
KC20000013,01/01/2020,64116.0,Assault (Aggravated),Aggravated Assault,13A,U,F,NaN
KC20000076,01/01/2020,64106.0,City/Municipal Warrant Arrest,NaN,NaN,B,M,31.0
KC20000125,01/01/2020,64124.0,Robbery (Armed Street),Robbery,120,B,M,NaN
KC20000164,01/01/2020,64127.0,Domestic Violence Assault (Non-Aggravated),Aggravated Assault,13A,B,F,32.0
KC20000304,01/02/2020,64114.0,Stealing from Auto (Theft from Auto),Theft From Motor Vehicle,23F,B,M,30.0

In [3]:
# Combine all crime dataframes into one dataframe
full_crime_df=pd.concat([crime_2015_df,crime_2016_df,crime_2017_df,crime_2018_df,crime_2019_df,crime_2020_df],sort=False)

# Pull columns necessary for analysis, rename, and set index to report number
cleaned_crime_df=full_crime_df[['Report_No','Reported_Date','Description','Zip Code','Race','Sex','Age']]

# Filter out all misspelled zip codes by specifying number limit
fin_crime_df = cleaned_crime_df[cleaned_crime_df['Zip Code'] >= 10000] 

final_crime_df=fin_crime_df.dropna(subset=['Zip Code'])
final_crime_df.set_index('Report_No',inplace=True)

# Switched data type to integers for zip codes
final_crime_df['Zip Code']=final_crime_df['Zip Code'].astype('int')

final_crime_df.head()

          Reported_Date           Description  Zip Code Race  Sex  Age
Report_No
150015427    03/06/2015        Misc Violation     64131  NaN  NaN  NaN
70045155     09/21/2015  Aggravated Assault (     99999    B    M  NaN
70045155     09/21/2015        Family Offense     99999    B    M  NaN
150057463    09/08/2015            Auto Theft     64126    U    U  NaN
150033873    05/19/2015  Possession/Sale/Dist     64128  NaN  NaN  NaN

In [5]:
final_2015_df.to_csv(r"data\2015_crime.csv")
final_2016_df.to_csv(r"data\2016_crime.csv")
final_2017_df.to_csv(r"data\2017_crime.csv")
final_2018_df.to_csv(r"data\2018_crime.csv")
final_2019_df.to_csv(r"data\2019_crime.csv")
final_2020_df.to_csv(r"data\2020_crime.csv")

In [9]:
final_crime_df.to_html(r"final_crime.html")

### Database Connection
#### Must run this code to view database

In [6]:
# Create engine connection to sqlite
engine = create_engine('sqlite:///KC_Crime_Density.db', echo=False)

# Load crime dataframe into sqlite database
final_crime_df.to_sql(name="full_crime",con=engine,if_exists="append",index=True)

In [7]:
# Load population dataframe into sqlite database
final_pop_df.to_sql(name="population",con=engine,if_exists="append",index=True)

In [8]:
# Load yearly crime dataframes into sqlite database
final_2015_df.to_sql(name="crime_2015",con=engine,if_exists="append",index=True)
final_2016_df.to_sql(name="crime_2016",con=engine,if_exists="append",index=True)
final_2017_df.to_sql(name="crime_2017",con=engine,if_exists="append",index=True)
final_2018_df.to_sql(name="crime_2018",con=engine,if_exists="append",index=True)
final_2019_df.to_sql(name="crime_2019",con=engine,if_exists="append",index=True)
final_2020_df.to_sql(name="crime_2020",con=engine,if_exists="append",index=True)