## 2014-2020 Kansas City Crime Cleaning

In [2]:
import pandas as pd

### Data Cleanup

In [3]:
# Import and read crime CSV files from data.kcmo.org
crime_2014="data/original_Crime/KCPD_Crime_Data_2014.csv"
crime_2015="data/original_Crime/KCPD_Crime_Data_2015.csv"
crime_2016="data/original_Crime/KCPD_Crime_Data_2016.csv"
crime_2017="data/original_Crime/KCPD_Crime_Data_2017.csv"
crime_2018="data/original_Crime/KCPD_Crime_Data_2018.csv"
crime_2019="data/original_Crime/KCPD_Crime_Data_2019.csv"
crime_2020="data/original_Crime/KCPD_Crime_Data_2020.csv"

crime_2014_df=pd.read_csv(crime_2014)
crime_2015_df=pd.read_csv(crime_2015)
crime_2016_df=pd.read_csv(crime_2016)
crime_2017_df=pd.read_csv(crime_2017)
crime_2018_df=pd.read_csv(crime_2018)
crime_2019_df=pd.read_csv(crime_2019)
crime_2020_df=pd.read_csv(crime_2020)

# Clean crime dataframes by specifying columns
final_2014_df=crime_2014_df[['Report_No','Reported_Date','IBRS','Race','Sex','Age']]
final_2015_df=crime_2015_df[['Report_No','Reported_Date','IBRS','Race','Sex','Age']]
final_2016_df=crime_2016_df[['Report_No','Reported_Date','IBRS','Race','Sex','Age']]
final_2017_df=crime_2017_df[['Report_No','Reported_Date','IBRS','Race','Sex','Age']]
final_2018_df=crime_2018_df[['Report_No','Reported_Date','IBRS','Race','Sex','Age']]
final_2019_df=crime_2019_df[['Report_No','Reported_Date','IBRS','Race','Sex','Age']]
final_2020_df=crime_2020_df[['Report_No','Reported_Date','IBRS','Race','Sex','Age']]

final_2020_df.head()

C:\Users\smm11\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

    Report_No Reported_Date IBRS Race Sex   Age
0  KC20000075      1/1/2020  13A    W   F  22.0
1  KC20000125      1/1/2020  120    B   M  18.0
2  KC20000158      1/1/2020  13A    B   M   NaN
3  KC20000242      1/1/2020  120    B   M   NaN
4  KC20000268      1/2/2020  NaN    W   F  67.0

In [4]:
# Combine all crime dataframes into one dataframe
final_crime_df=pd.concat([final_2014_df,final_2015_df,final_2016_df,final_2017_df,final_2018_df,final_2019_df,final_2020_df],sort=False)
final_crime_df.to_csv(r"data\final_crime.csv")
final_crime_df.head()

   Report_No Reported_Date IBRS Race Sex   Age
0  140043299    07/08/2014  120    B   F  17.0
1  140043299    07/08/2014  120    B   F  18.0
2  140043299    07/08/2014  120    B   F  18.0
3  140043299    07/08/2014  120    B   F  19.0
4  140038847    06/12/2014  220    B   F  20.0

In [5]:
# Export as csv file
final_2014_df.to_csv(r"data\2014_crime.csv")
final_2015_df.to_csv(r"data\2015_crime.csv")
final_2016_df.to_csv(r"data\2016_crime.csv")
final_2017_df.to_csv(r"data\2017_crime.csv")
final_2018_df.to_csv(r"data\2018_crime.csv")
final_2019_df.to_csv(r"data\2019_crime.csv")
final_2020_df.to_csv(r"data\2020_crime.csv")